{
    "driver": "chrome",
    "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36",
    "window_size": {
        "width": 1920,
        "height": 1080
    },
    "log_directory": "/tmp/k_auto_book/",
    "ebookjapan": {
        "needs_login": true,
        "username": "",
        "password": "",
        "image_format": "JPEG",
        "sleep_time": 1,
        "bound_on_side": "right"
    }
}
